// > * {
//   padding: 0 15px;
// }

.edit-post-visual-editor__post-title-wrapper > *,
.block-editor-block-list__layout.is-root-container > * {
  max-width: none;
}

.wp-block {
  max-width: none !important;
}
.wp-block[data-align="wide"] {
  max-width: 1096px !important;
}
.wp-block[data-align="full"] {
  max-width: 100% !important;
}

// Add clearfix to editor divs...!
.acf-block-body > div {
  zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.mce-edit-area iframe {
  padding: 15px;
}

@import "from-css/boilerplate";
@import "from-css/layouts-feb21";
@import "from-css/menu-jump";

@import "global/layout";
@import "global/background";

@import "slick/slick";

@import "blocks/banner-with-text-overlay";
@import "blocks/page-intro";
@import "blocks/power-strategy";
@import "blocks/solid-header";
@import "blocks/hero";
@import "blocks/homepage-intro";
@import "blocks/image-text-row";
@import "blocks/homepage-main-section";
@import "blocks/meet-the-team-grid";
@import "blocks/markets-map-locations";



h1 {
  color: #333;
}
