.banner-with-text-overlay--block {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
    h4 {
        // font-size: 1.8em;
        font-weight: 500;
        margin-bottom: 0.6em;
    }
    
}