.markets-map-locations {
    &__map {
        position: relative;
        padding: 3em 0;
        h3 {
            color: inherit;
            text-align: center;
            margin-bottom: 2em;
            font-weight: 500;
        }
    }
    
    &__location {
        padding: 3em 0;
        background-color: #65c99a;

        .location-content {
            display: flex;
            color: #ffffff;
            &__text {
                width: 50%;
                padding-right: 5%;
                ul {
                    list-style-position: inside;
                    padding: 0;
                }
                h3 {
                    margin-bottom: 1em;
                    font-size: 1.4em;
                    font-weight: 600;
                }
                p {
                    font-size: 1em;
                    line-height: 1.4;
                    margin-bottom: 1.5em;
                }
                img {
                    margin: 1em 0;
                }
            }
            &__media {
                width: 50%;
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4em;
            }

            .pie-chart,
            .graph {
                h4 {
                    text-align: center;
                    margin-bottom: 1em;
                    font-size: 1.4em;
                }
                margin: 5em 0;
            }

            .button-link {
                font-size: 18px;
            }
            
        }

        &--alt {
            background-color: #ffffff;
            .location-content {
                flex-direction: row-reverse;
                color: #444;
                &__media {
                    padding-right: 5%;
                    padding-left:  0;
                }

                &__text {
                    padding-left: 5%;
                    padding-right: 0;
                    h3 {
                        color: inherit;
                    }
                }

                .pie-chart,
                .graph {
                    h4 {
                        color: inherit;
                    }
                }
                .button-link {
                    background-color: #0b7f36;
                    border-color: #0b7f36;
                    color: #fff;
                    font-size: 18px;
                    &:hover {
                        background: none;
                        color: #0b7f36;
                    }
                
                }
            }
        }
    }

    @media(max-width: 768px) {
        &__location {
            .location-content {
                flex-direction: column;
                gap: 5em;

                &__media {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    .pie-chart {
                        max-width: 300px;
                        margin: 0 auto;
                    }
                }

                &__text {
                    width: 100%;
                }
            }
        }
    }
}

.image-cycle {
    width: 100%;
    &__images {
     
        .slick-list {
            padding: 0 3em;
        }

        .slick-slide {
            .image {
                margin-top: 6%;
                padding-top: 60%;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.slick-current {
                transform: none;
                .image {
                    margin-top: 0;
                    padding-top: 71.5%;
                }
               
            }
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            padding: 0;
            height: 32px;
            width: 32px;
            z-index: 2;
        }
        .slick-next {
            right: calc(3em - 16px);
        }
        .slick-prev {
            left: calc(3em - 16px);
        }
    }
}

.map-wrapper {
    position: relative;

    .location-overview {
        position: absolute;
        width: 375px;
        top: 45%;
        transform: translateY(-50%);
        align-items: center;
        right: 10%;
        display: none;
        flex-direction: column;
        border: 2px solid #48B45C;
        border-radius: 8px;
        padding: 1em;
        align-items: center;
        background-color: #ffffff;
        &.active {
            display: flex;
        }
        &__stats {
            border-radius: 16px;
            position: relative;
            width: 100%;
            h4 {
                text-align: center;
                color: #48B45C;
                font-size: 1.3em;
                margin-bottom: 10px;
            }
        }
        &__stat {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .icon-wrapper {
                margin-right: 10px;
                width: 2.25em;
            }
            svg {
                width: 100%;
                height: auto;
            }
            .data {
                font-weight: 600;
                font-size: 1em;
            }
        }
        &__details {
            color: #48B45C;
            border-radius: 16px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            h4 {
                color: inherit;
                font-size: 1.56em;
                width: 100%;
            }
            ul {
                padding-left: 0;
                list-style-position: inside;
                line-height: 1.6;
                font-size: 0.95em;
                font-weight: 500;
                width: 100%;
            }
            .button-link {
                background-color: #0b7f36;
                border-color: #0b7f36;
                color: #ffffff;
                font-size: 18px;
                &:hover {
                    background: none;
                    color:#0b7f36;
                }
            }
        }
        @media (max-width: 1220px) {
            right: -4%;
            font-size: 1.5vw;
        }
        @media (max-width: 1000px) {
            &__detaills {
                ul {
                    font-size: 1.1em;
                    font-weight: 600;
                }
            }
        }
        @media(max-width: 800px) {
            display: none;
            visibility: hidden;
            &.active {
                display: none;
            }
        }
    }
    
    > svg {
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        display: block;
    }

    path.map-location {
        cursor: pointer;
        transition: fill 0.2s ease;

        &:hover,
        &.active {
            fill: #c96594 !important;
        }
    } 
    
    @media(max-width: 768px) {
        &::after {
            font-size: 1.2em;
        }
    }
}


#LocationSection_Indonesia {
    .location-content__media {
        padding-top: 2em;

        img:first-child {
            transform: scale(1.2);
        }
        
        .pie-chart {
            margin-top: 2em;
        }
    }

    @media (max-width: 768px) {
        .location-content__media {
            padding-top: 0;
    
            img:first-child {
                transform: none;
            }
            
            .pie-chart {
                margin-top: 0;
            }
        }
    }
}

.overview-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    &.active {
        display: flex;
    }

    &__curtain {
        opacity: 0.7;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__inner {
        width: 100%;
        max-width: 800px;
        background-color: #ffffff;
        padding: 10px;
        position: relative;
    }
    &__header {
        background-color: #0b7f36;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
        h5 {
            margin: 0;
            font-size: 22px;
        }
    }
    &__close {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        padding: 0;
        font-size: 2.5em;
        color: #ffffff;
    }
    &__row {
        display: flex;
        align-items: center;
        .column-1 {
            width: 30%;
            padding-right: 10%;
            font-weight: 600;
        }
        .column-2 {
            width: 70%;
            ul {
               li {
                    margin-bottom: 0.5em;
                    &:last-child {
                       margin-bottom: 0;
                    }   
               } 
            }
        }
    }
}