.darkBlue {
  color: #103e59;
}
.darkBlueBG {
  background-color: #0e344b;
}
.darkGrey {
  color: #444;
}
.blueTint {
  background-color: rgba(16, 62, 89, 0.5);
}
.blue {
  color: #45b0df;
}
.blue2 {
  color: #5cc7d0;
}
.blueBG {
  background-color: #45b0df;
}
.green {
  color: #65c99a;
}
.green2 {
  color: #0f8442;
}
.greenBG {
  background-color: #65c99a;
}
.pink {
  color: #da31cc;
}
.white {
  color: #fff;
}
.whiteBG {
  background-color: #fff;
}
.darkgrey {
  color: #2d2d2d;
}
.darkgreyBG {
  background-color: #9aa3a3;
}
.lightBlueBG {
  background-color: #d6dce7;
}
.red {
  color: #c50629;
}
