.orion-menu {
  padding: 0;
  position: relative;
  // float: right;
  list-style: none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 15px;
  display: flex;
  justify-content: right;
}
.orion-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
.orion-menu li a {
  text-decoration: none;
  display: inline-block;
  -o-transition: color 0.1s linear, background 0.1s linear;
  -webkit-transition: color 0.1s linear, background 0.1s linear;
  -moz-transition: color 0.1s linear, background 0.1s linear;
  transition: color 0.1s linear, background 0.1s linear;
  padding: 20px 20px 10px 0;
  text-align: left;
  color: #fff;
  border: none;
}
.orion-menu li:hover > a {
  color: #fff;
}
.orion-menu li.active > a {
  background-color: #d27e00;
}
.orion-menu > li > a {
  text-transform: none;
}
.orion-menu > li > a.last {
  color: #165f9a;
}
.orion-menu > li > a.last:hover {
  color: #1c3f94;
}
.orion-menu ul,
.orion-menu ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  left: 0;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.extra {
  width: 142px;
}
.orion-menu ul {
  top: 50px;
}
.orion-menu ul li ul {
  top: 0;
}
.orion-menu ul li {
  clear: both;
}
.orion-menu ul li a {
  width: 100%;
  padding: 2px 0;
  display: inline-block;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  color: #fff;
  text-align: left;
  white-space: nowrap;
}
.orion-menu ul li:hover > a {
  color: #fff;
  text-decoration: none;
  border: none;
}
.orion-menu .indicator {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  font-family: FontAwesome;
  font-size: 14px;
}
.orion-menu .indicator:before {
  content: "\f0d7";
}
.orion-menu ul li .indicator {
  right: 0;
  top: 0;
}
.orion-menu ul li .indicator:before {
  content: "\f0da";
}
.orion-menu > li.showhide {
  display: none;
  width: 100%;
  height: 80px;
  cursor: pointer;
  color: #fff;
}
.orion-menu > li.showhide:hover {
  -o-transition: color 0.1s linear, background 0.1s linear;
  -webkit-transition: color 0.1s linear, background 0.1s linear;
  -moz-transition: color 0.1s linear, background 0.1s linear;
  transition: color 0.1s linear, background 0.1s linear;
}
.orion-menu > li.showhide span.title {
  margin: 20px 4% 0 0;
  float: right;
  font-weight: 700;
  display: none;
}
.orion-menu > li.showhide span.icon {
  margin: 20px 4% 0 0;
  float: right;
}
.orion-menu > li.showhide .icon em {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-top: 3px;
}
a.menuLine:after {
  content: "";
  height: 2px;
  background-color: #65c99a;
  display: block;
  transition: width 0.2s ease-in-out;
  text-align: center;
  width: 0;
}
a.menuLine:hover:after {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .orion-menu {
    justify-content: center;
  }
}
@media only screen and (max-width: 660px) {
  .orion-menu-wrapper.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .orion-menu {
    margin: 0;
    display: block;
    width: 100%;
    padding-left: 0;
    float: none;
  }
  .orion-menu li {
    display: block;
    width: 100%;
  }
  .orion-menu a {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .orion-menu > li > a {
    text-align: left;
    border-top: solid 1px #3da474;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 4%;
    color: #fff;
  }
  .orion-menu li:hover > a {
    color: #fff;
  }
  .orion-menu ul,
  .orion-menu ul li ul {
    width: 100%;
    left: 0;
    position: static;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
  }
  .orion-menu ul li a {
    width: 100%;
    left: 0;
    position: static;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 4%;
    text-indent: 0;
    color: #65c99a;
  }
  .orion-menu ul li a:hover {
    color: #fff;
  }
  .orion-menu .indicator {
    right: 20px;
    top: 18px;
  }
  .orion-menu ul li .indicator {
    display: block;
  }
  .orion-menu ul li .indicator:before {
    content: "\f0d7";
  }
  .orion-menu > li.showhide {
    display: block;
  }
  a.menuLine:after {
    display: none;
  }
}
