.sliderMainContainer {
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.sliderGridContainer {
  width: 92%;
  max-width: 1006px;
  margin: auto;
  clear: none;
  float: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.sliderInnerContainer {
  width: 100%;
  float: left;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
  height: 300px;
}
.sliderContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sliderWrap {
  width: 55%;
  margin-left: 5%;
  padding: 25px;
  clear: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(68, 68, 68, 0.5);
}
.sliderTitle {
  width: 100%;
  padding-bottom: 5px;
  clear: none;
  float: none;
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}
.sliderText {
  width: 100%;
  margin: auto;
  clear: none;
  float: none;
  padding: 0;
  color: #fff;
  text-align: left;
  font-size: 30px;
  line-height: 32px;
}
.sliderButton {
  width: 55%;
  margin-left: 5%;
  clear: none;
  float: none;
  padding: 0;
  text-align: right;
  margin-top: 8px;
}
.link-button {
  color: #fff;
  text-decoration: none;
  background-color: rgba(68, 68, 68, 0.5);
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  padding: 10px 30px 10px 10px;
  z-index: 1000;
  background-image: url(../images/r-arrow-white-small.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.link-button:hover {
  background-color: #007cb8;
  color: #fff;
}
section {
  width: 100%;
}
.nopad {
  padding: 0;
}
.cycle-slideshow-outer {
  width: 100%;
  position: relative;
  float: left;
  height: 300px;
  overflow: hidden;
}
.cycle-slideshow,
.cycle-slideshow * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cycle-slideshow {
  width: 100%;
  height: 300px;
  position: relative;
}
.cycle-prev {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 800;
  height: 100%;
  cursor: pointer;
  left: 0;
  background: url(left2.png) 5% 50% no-repeat;
}
.cycle-prev:hover {
  background: url(left2-hover.png) 5% 50% no-repeat;
}
.cycle-next {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 800;
  height: 100%;
  cursor: pointer;
  right: 0;
  background: url(right2.png) 95% 50% no-repeat;
}
.cycle-next:hover {
  background: url(right2-hover.png) 95% 50% no-repeat;
}
@media only screen and (max-width: 660px) {
  .sliderMainContainer {
    background-size: contain;
  }
  .sliderInnerContainer {
    height: 250px;
  }
  .cycle-slideshow-outer {
    height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cycle-slideshow {
    height: 250px;
  }
  .sliderWrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .sliderTitle {
    width: 100%;
    padding-bottom: 5px;
    clear: none;
    float: none;
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
  }
  .sliderText {
    width: 100%;
    margin: auto;
    clear: none;
    float: none;
    padding: 0;
    color: #fff;
    text-align: left;
    font-size: 24px;
    line-height: 27px;
  }
  .sliderButton {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
